html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
a img {
  border: none;
}
html {
  background: #eeeeee;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  background: #eeeeee;
  color: #333333;
}
#tweetapp {
  width: 100%;
  float: left;
}
#tweetapp h1 {
  font: bold 36px/36px Helvetica, sans-serif;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  padding: 20px 0 30px 20px;
}
#map {
  float: left;
  margin-left: 20px;
}
#tweets {
  background: #fff;
  float: left;
  width: 400px;
  padding: 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}
#tweet-list li {
  padding: 12px 0px 11px 0;
  position: relative;
  font-size: 14px;
  line-height: 1.1em;
  border-bottom: 1px solid #cccccc;
}
#tweet-list li:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
#tweet-stats {
  *zoom: 1;
  color: #777777;
}
#tweet-stats:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
#tweet-stats .tweet-count {
  float: left;
}
#tweet-stats .tweet-count .number {
  font-weight: bold;
  color: #333333;
}
#credits {
  clear: both;
  width: 100%;
  padding: 10px 0;
  color: #999;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  text-align: center;
}
#credits a {
  color: #888;
}
#credits a:hover {
}
